/* .die {
    display: none;
} */

#col-md-8-r{
    font-family: 'courier new';
}

h1 {
    text-align: center;
    font-family: 'Helvetica Neue';
    color: #212529;
}
h2 {
    text-align: center;
    font-family: 'Helvetica Neue';
    color: white;
}
#behold{
    color: #212529;
}
h3 {
    text-align: center;
    font-family: 'Helvetica Neue'
}
h4 {
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 44px;
    color: white;
}
.row{
    background-color: #DAB4AB;
}

.col-md-4{
    border: 2px solid red;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}
#l_rules{
    text-align: center;
}
#l_history{
    text-align: center;
}
.btn{
    background-color: black;
    color: white;
}
.righty{
    padding-left: 60px;
}
.col-md-2{
    border: 2px solid red;
    padding-top: 250px;
    padding-right: 30px;
    text-align: center;
}
.container{
    padding-left:0px;
    padding-right:0px;
    margin: 0px;
    margin-right:0px;
}
.all{
    border:2px solid black;
}
.b_rules{
    border: 2px solid red;
    padding-left: 40px;
}
.b_history{
    border: 2px solid red;
    padding-left: 40px;
}
.buttons{
    border: 2px solid red;
    padding-left: 85px;
}