.die {
    display: none;
}

#col-md-8-r {
    font-family: 'courier new';
    display: none;
}

#col-md-8-h {
    font-family: 'courier new';
    display: none;
}

h1 {
    text-align: center;
    font-family: 'Helvetica Neue';
    color: #212529;
}

h2 {
    text-align: center;
    font-family: 'Helvetica Neue';
    color: white;
}

#behold {
    color: #212529;
}

h3 {
    text-align: center;
    font-family: 'Helvetica Neue'
}

h4 {
    text-align: center;
    font-family: 'Helvetica Neue';
    font-size: 44px;
    color: white;
}

.row {
    background-color: #DAB4AB;
}

.col-md-4 {
    border: 2px solid red;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}

#l_rules {
    text-align: center;
}

#l_history {
    text-align: center;
}

.btn {
    background-color: black;
    color: white;
}

.portrayed {
    border: red solid 2px;
    padding-left: 80px;
}

/* .righty {
    padding-left: 60px;
} */

.player_head {
    border: 2px red solid;
}

.col-md-2 {
    /* border: 2px solid red; */
    padding-top: 22%;
    /* padding-bottom: 10%; */
    /* padding-right: 30px; */
    text-align: center;
}

.container {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    margin-right: 0px;
}

.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #DAB4AB;
    padding-left: 25%;
    padding-right: 25%;
}
.rolex{
    width: 32px;
    padding: 10px;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    border: #999 1px solid;
}
.b_rules {
    /* border: 2px solid red; */
    padding-left: 40px;
}

.b_history {
    /* border: 2px solid red; */
    padding-left: 40px;
}

.buttons {
    /* border: 2px solid red; */
    padding-left: 85px;
}

.g_portal_1 {
    display: none;
}

.g_portal_2 {
    display: none;
}