/* .die {
    display: none;
} */

.h1 {
    text-align: center;
}
.row{
    background-color: #DB7093;
}
.col-md-4{
    border: 2px solid red;
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
}
p{
    text-align: center;
}
.btn{
    background-color: black;
    color: white;
}
.righty{
    padding-left: 60px;
}
.col-md-2{
    border: 2px solid red;
    padding-top: 250px;
    padding-right: 30px;
}
.container{
    padding-left:0px;
    padding-right:0px;
    margin: 0px;
    margin-right:0px;
}
.all{
    border:2px solid black;
}
.b_rules{
    border: 2px solid red;
    padding-left: 40px;
}
.b_history{
    border: 2px solid red;
    padding-left: 40px;
}
.buttons{
    border: 2px solid red;
    padding-left: 85px;
}